.top-block
{
    background: #000000 url(../images/top_block_background.jpg);
    height: 500px;
}

.menu__logo
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.menu__item
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.top-block__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.top-block__text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.top-block__button
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background: #DD783F;
    width: 167px;
    height: 44px;
    border-radius: 3px;
}

.submenu
{
    background: #FFFFFF;
    height: 65px;
}

.submenu__item
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088; 
}

.main
{
    background: #F7F7F7;
}

.main__title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.featured-post
{
    background: url(../images/the_road_ahead.jpg);
    background-repeat: no-repeat;
}

.featured-post_second
{
    background: url(../images/from_top_down.png);
    background-repeat: no-repeat;
}

.featured-post__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.featured-post__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.caption__text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.recent-description
{
    background-color: #FFFFFF;
}

.recent-description__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.recent-description__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.recent-caption
{
    background: #FCFCFC;
}

.recent-caption__text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.footer-block__menu
{
    background: rgba(35, 47, 56, 0.6) url(../images/footer-block.png);
    height: 89px;
}