<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Escape</title>
  <link href="../static/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="page">
  
  <div class="top">
    <header class="top__menu  menu">
      <span class="menu__logo">Escape.</span>
      <nav class="menu__items">
        <a href="#" class="menu__item">HOME</a>
        <a href="#" class="menu__item">CATEGORIES</a>
        <a href="#" class="menu__item">ABOUT</a>
        <a href="#" class="menu__item">CONTACT</a>
      </nav>
    </header>
    <h1 class="top__title">Let's do it together.</h1>
    <p class="top__text">We travel the world in search of stories. Come along for the ride.</p>
    <button class="top__button">View Latest posts</button>
  </div>
  
  <nav class="submenu">
    <a href="#" class="submenu__item">Nature</a>
    <a href="#" class="submenu__item">Photogpaphy</a>
    <a href="#" class="submenu__item">Relaxation</a>
    <a href="#" class="submenu__item">Vacation</a>
    <a href="#" class="submenu__item">Travel</a>
    <a href="#" class="submenu__item">Adventure</a>
  </nav>
 
  <div class="main">
    
    <div class="featured-posts">
      <h2 class="featured-posts__title">Featured Posts</h2>
      
      <div class="featured-posts__content">
        {{ range .FeaturedPosts }}
        <div class="featured-post {{ .ImgModifier }}">
          <h3 class="featured-post__title">{{ .Title }}</h3>
          <p class="featured-post__subtitle">{{ .Subtitle }}</p>
          <div class="featured-post__caption  caption">
            <img class="caption__author-image" src="{{ .AuthorImg }}"  alt="Mat Vogels">
            <span class="caption__author-name">{{ .Author }}</span>
            <span class="caption__date">{{ .PublishData }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="most-recent"> 
      <h2 class="most-recent__title">Most Recent</h2>
      
      <div class="recent-block">
        {{ range .MostRecentPosts }}
        <div class="recent">
          <img class="recent__picture" src="{{ .Image }}" alt="Still Standing Tall">
          <h3 class="recent__title">{{ .Title }}</h3>
          <p class="recent__subtitle">{{ .Subtitle }}</p>
          <div class="recent-caption">
            <img class="recent-caption__author-image" src=" {{ .AuthorImg }}" alt="William Wong">
            <span class="recent-caption__author-name">{{ .Author }}</span>
            <span class="recent-caption__date">{{ .PublishData }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="low">
    <div class="contact-form">
      <h2 class="contact-form__call-to-action">Stay in Touch</h2>
      <form class="contact-form__button" action="#">
        <input class="contact-form__email" type="email" name="email" placeholder="Enter your email address">
        <input class="contact-form__send-email" type="submit" value="Submit">
      </form>
    </div>
    
    <footer class="menu menu_footer">
      <span class="menu__logo">Escape.</span>
        <nav class="menu__items">
          <a href="#" class="menu__item menu__item_footer">HOME</a>
          <a href="#" class="menu__item menu__item_footer">CATEGORIES</a>
          <a href="#" class="menu__item menu__item_footer">ABOUT</a>
          <a href="#" class="menu__item menu__item_footer">CONTACT</a>
        </nav>
    </footer>
  </div>  
</body>
</html>
